*{
    margin:0;
    color: rgb(107, 107, 106);
        font-family: monospace;

}
#content-buttons{
    display: flex;
    width: 25rem;
    margin:2rem auto;
}

.botao-preto{
    background-color: #363636;
}
.botao-red{
    background-color: red;
}
.hide{
    display: none;
    
}
.button-js{
    display: block;
margin: auto;
width: 4em;
height: 4rem;
border-radius: 4rem;
border: 0;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.411);
    cursor: pointer;
}
.text-nav{
    display: none;
    font-size: 1rem;
    width: 6rem;
    position: absolute;
    left: 4rem;
    color: white;
    background-color: #363636a9;
    padding: 0.3rem;
    border-radius: 0.6rem;
    transition: 1000ms;

}
#nav{
    
    position:fixed;
    left: 0.8rem;
    text-align: center;
    background-color: #CDD6D1;
    padding: 0.5rem;
    height: 22rem;
    width: 3.5rem;
    border-radius: 20rem;
    top: 32%;
        box-shadow: 1px 1px 2px 1px rgb(123, 123, 123);



}
#nav div{
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.498);
    border-radius: 10rem;
    height: 3rem;
    width: 3rem;
     display: flex;
  justify-content: center; /* centraliza horizontal */
  align-items: center;  
  margin:1rem auto;
  cursor: pointer;
}
#nav div:hover{
    transition: 100ms;
    background-color: #181818be;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #181818;
    padding: 4rem;
  
}
#content-menu{
    
    display: flex;
    margin-left: 8rem;
}
#content-menu p{
    font-weight: 600;
    font-size: 1.1rem;
    margin: 0 1rem;
    color: rgba(255, 255, 255, 0.885);
    box-shadow: 0px 2px rgba(255, 255, 255, 0.497);
    cursor: pointer;
    padding: 0.3rem 0;

}
#content-menu p:hover{
     transition: 400ms;
        box-shadow: 0px 3px rgb(255, 255, 255);
        color: white;

}


 header h1{
    color: rgba(255, 255, 255, 0.931);
    margin-left: 3rem;
}
#content-titulo p{
    color: white;
    margin-top: 0.4rem;
        margin-left: 5.2rem;

}
#section{
padding: 1rem;    
background-color: #33333339;
   
}
#section2{
}

.content-botao{
    display: flex;
    justify-content: center;
    
}
.content-botao button{
    border:0;
    font-size: 1.2rem;
    font-weight: 900;
    border-radius: 1.5rem;
    background-color:#1a1919da;
    color: rgb(251, 251, 251);
    width: 20rem;
    height: 3.6rem;
    cursor: pointer;
    margin:0px auto 3rem auto;
}
.content-botao button:hover{
    background-color: #3D4B49;

    transition: 400ms;
box-shadow: 1px 1px 5px black;


}
body{
    background: rgb(255, 255, 255);

}

#content-beneficios{
    margin:auto;
    
   
    
}
#content-imagem-1{
    
    display: flex;
    align-items: center;
    margin: auto;


}
#imagem-destaque-1{

        align-items: center;

    margin:2rem auto;
    height: 30rem;
    border-radius: 1rem;
    box-shadow: 0.0rem 0.1rem 0.3rem 0.1rem rgb(59, 59, 59);
    object-fit: cover;
  
}

#content-beneficios h2{
    width: 22rem;
        font-size: 1.5rem;

    color: #1a1919;
    margin-left: 5rem;
    margin-bottom: 2.2rem;
    box-shadow:  0px 1px  black;
    padding: 0.6rem;
}
#content-beneficios > ul li{
    font-size: 1.4rem;
    margin: 1.6rem 0;
    color: rgb(0, 0, 0);
    list-style: none;
    
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 12rem;
    background: #333333;
    padding: 1rem;
}

footer div {
    display: flex;
    justify-content: center;
    margin: auto;
}
footer div p{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;



    color: white;
    width: 21.6rem;
    margin: auto 1.6rem;
    font-size: 1.1rem;
}
footer div img{
    margin:0  0.7rem;
} 
#redes{
    margin-top: 2.6rem;
}
#redes img:hover{
    object-fit: fill;
    transform: scale(1.1);
    cursor: pointer;
}
 
@media (max-width:1015px){
    header{
        flex-direction: column;
    }
    #content-menu{
    margin: auto;
    
}
#content-menu p{
margin-top: 1rem ;
}
 header h1{
    text-align: center;
          margin: auto;
          font-size: 1.5rem;

}
.content-botao{
        margin-top: -7rem;

}
#content-titulo p{
              font-size: 0.8rem;

       margin:0.5rem auto;

}
#content-imagem-1{
flex-direction: column;


}
  #content-beneficios h2{
        margin-top: 2rem;

}
    
}
@media (max-width:650px){
  #imagem-destaque-1{
    max-width: 20rem;
    height: 20rem;
  }
  #content-beneficios h2{
        font-size: 1.2rem;
        margin-top: 1rem;

}

#content-beneficios > ul li{
    font-size: 1rem;
    
    
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 15rem;
    background: #333333;
    padding: 1rem;
}

footer div {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
}
footer div p{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;



    color: white;
    width: 25rem;
    margin: 0.7rem;
    font-size: 1.1rem;
}
#redes{
   flex-direction: row;
   margin-top: 0.2rem;
}

.content-botao{

}
.content-botao button{
   
    padding:0.6rem;
    width: 9rem;
    height: 3.2rem;
   
}

}
@media (max-width:480px){
   #content-menu p{
    font-size: 1.2rem;
    
}


}